rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin;
    }
    function contains(arr) {
      return request.resource.data.keys().hasAny(arr)
    }

    match /{document=**} {
    	allow read, write: if isAdmin()
    }
    match /users/{user} {
      allow read;
    	allow create: if !contains(['isAdmin']) && !exists(/databases/$(database)/documents/users/$(request.resource.id));
		}
    match /suppliers/{supplier} {
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.supplierRef == /databases/$(database)/documents/suppliers/$(resource.id);
    }
  }
}