rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
		function isSignedIn() {
    	return request.auth != null;
    }
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin;
    }
    function contains(arr) {
      return request.resource.data.keys().hasAny(arr)
    }

    match /{document=**} {
    	allow read, write: if isAdmin()
    }
    match /users/{user} {
      allow read: if isSignedIn();
    	allow create: if request.resource.id == request.auth.uid && !contains(['isAdmin']) && !exists(/databases/$(database)/documents/users/$(request.resource.id));
		}
    match /suppliers/{supplier} {
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.supplierRef == /databases/$(database)/documents/suppliers/$(resource.id);
    }
  }
}